.btns{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.bg1{
    background-color: antiquewhite;
    padding: 10px;
}
.bt{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border-width: 0px;
}
.bt:hover{
    background-color: gold;
    padding: 15px;
}
.heading{
    font-weight: bold;
    text-align: center;
    font-family: serif;
    margin: 20px;
    padding-top: 20px;
}
.projectList{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.activeTab1{
    background-color: aqua;
}
.img1{
    object-fit: cover;
    height: 35vh;
    margin: 5px;
}